<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About - <%= @property.name %></title>

   <%= stylesheet_link_tag    "t1-bootstrap", media: "all", "data-turbolinks-track" => true %>
   <%= stylesheet_link_tag    "t1-business-casual", media: "all", "data-turbolinks-track" => true %>
</head>

<body>

   <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><%= @property.name %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><%= link_to 'Home', property_preview_page_path(@property.id, 'index')%>
                    </li>
                    <li><%= link_to 'Our Story',property_preview_page_path(@property.id,'about')%>
                    </li>
                    <li><%= link_to 'Our Community', property_preview_page_path(@property.id,'community')%>
                    </li>
                    <li><a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <%= link_to 'Back to My Properties'.html_safe , properties_path %>
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    
                </div>
                <div class="col-md-6">
                    <%= image_tag    "t1-staff1.jpg", class: "img-responsive img-full" %>
                </div>
                <div class="col-md-6">
                    <hr>
                    <h2 class="intro-text text-center"><strong><%= @pin["pWelcomeSlogan"] %></strong>
                    </h2>
                    <hr>
                    <p>Hi I am <%= @pin["pOwnerName"] %> . Hope we can answer your questions</p>
                    <p><%= @pin["pOwnerExperience"] %></p>
                    <p><%= @pin["pOwnerMessage"] %></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <hr>
                <h2 class="intro-text text-center"><strong>Our Services</strong>
                                </h2>
                <hr>                
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <p class="text-hp2">
                   </p>
                   <p><%= @pin["pStaffDescription"] %></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <%= image_tag("t1-staff2.jpg", :class=>"image img-responsive")%>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="box">
                <hr>
                <h2 class="intro-text text-center"><strong>Additional Services</strong>
                                </h2>
                <hr>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <%= image_tag("t1-staff3.jpg", :class=>"image img-responsive")%>
                </div>                
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <p class="text-hp2">
                   </p>
                   <p><%= @pin["pServices"] %></p>
                   
                </div>
                
            </div>
            
        </div>
        
    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; <%=@property.name + " "+Time.now.year.to_s %></p>
                </div>
            </div>
        </div>
    </footer>


    <!-- JavaScript -->
    <%= javascript_include_tag "t1-jquery-1.10.2.js" %>
    <%= javascript_include_tag "t1-bootstrap.js" %>
</body>

</html>
